{% extends 'base/base.html' %}

{% block content %}
 <div class="flex flex-col ">
  <h1 >Добро пожаловать!  </h1>
 <p>Уважаемые коллеги, мы рады приветствовать Вас на сайте нашей компании. Мы надеемся, что наш многолетний опыт и большие возможности помогут Вам в выборе стоматологической продукции.
Став нашим партнером, Вам больше не придется тратить время на поиск качественной стоматологической продукции. Вы сможете полностью сосредоточиться на своей работе, а мы доставим Вам все необходимое в кратчайшие сроки и по доступной цене.
Преимуществами компании являются постоянное наличие наиболее востребованного ассортимента на складах, а также быстрая обработка и точное соблюдение комплектации заказа при сохранении доступности цен.
Предлагаем Вашему вниманию наилучшие концепции оснащения медицинских учреждений современным инновационным оборудованием, диагностическими и лечебными технологиями.
В нашем ассортименте – более 20 000 наименований товаров</p>
 </div>
{% endblock %}