{%  load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Подключаем Inter*/
        @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

        body {
            font-family: 'Inter', sans-serif;
        }

        .wrapper {
            max-width: 1015px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

    </style>
</head>
<body class="bg-gray-100 text-gray-800">
  <main class="flex items-center justify-center h-[100vh]">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
