{% extends 'users/base.html' %}


{% block form_title %}
Вход
{% endblock %}

{% block inputs %}
     <input name="username" placeholder="Имя пользователя" type="text" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-[#05B197] focus:border-2">
     <input name="password" placeholder="Пароль" type="password" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-[#05B197] focus:border-2">
{% endblock %}

{% block button %}
Войти
{% endblock %}
{% block extra_action %}
<p class="text-sm text-gray-500 mt-4 text-center">
  Нет аккаунта?
  <a href="{% url 'register' %}"
     class="text-[#00BEA2] font-medium hover:underline">
    Зарегистрироваться
  </a>
</p>
{% endblock %}