{% extends 'base/base.html' %}


{% block content %}
    <div class="container mx-auto p-6 bg-white shadow-md rounded-lg">
        <h2 class="text-2xl font-semibold mb-4 text-gray-800">Профиль пользователя</h2>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Имя пользователя:
            </label>
            <p id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{ user.username }}</p>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="first_name">
                Имя:
            </label>
            <p id="first_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                {% if user.first_name %}
                    {{ user.first_name }}
                {% else %}
                    <span class="text-gray-500 italic">Не задано</span>
                {% endif %}
            </p>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">
                Фамилия:
            </label>
            <p id="last_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                {% if user.last_name %}
                    {{ user.last_name }}
                {% else %}
                    <span class="text-gray-500 italic">Не задано</span>
                {% endif %}
            </p>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">
                Адрес:
            </label>
            <p id="address" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                {% if user.address %}
                    {{ user.address }}
                {% else %}
                    <span class="text-gray-500 italic">Не задано</span>
                {% endif %}
            </p>
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="date_joined">
                Дата регистрации:
            </label>
            <p id="date_joined" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                {{ user.date_joined|date:"Y-m-d" }}
            </p>
        </div>

        <div class="flex items-center justify-between">
            <a href="{% url 'profile_edit' %}" class="bg-[#00BEA2] text-white px-[20px]  hover:bg-[#05B197] transition-all">
                Редактировать профиль
            </a>
        </div>
    </div>
{% endblock %}



