{% extends 'users/base.html' %}

{% block form_title %}
Регистрация
{% endblock %}

{% block inputs %}
     <input name="username" placeholder="Имя пользователя" type="text" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-[#05B197] focus:border-2">
     <input name="email" placeholder="Email" type="email" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-[#05B197] focus:border-2">
     <input name="password" placeholder="Пароль" type="password" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-[#05B197] focus:border-2">
{% endblock %}

{% block button %}
Регистрация
{% endblock %}
{% block extra_action %}
<p class="text-sm text-gray-500 mt-4 text-center">
   Уже зарегистрированы?
  <a href="{% url 'login' %}"
     class="text-[#00BEA2] font-medium hover:underline">
    Войти
  </a>
</p>
{% endblock %}
