{% extends 'base/base.html' %} {% block content %}
<div class="container py-8">
	<h1 class="text-3xl font-semibold mb-6">Категории</h1>
	<ul class="grid grid-cols-3 gap-2">
		{% for category in categories %}
		<a href="{% url 'products_by_category' slug=category.slug %}">
			<li>
				<div
					class="bg-white p-5 rounded-lg h-[250px] flex flex-col items-center justify-end"
				>
					{% if category.image %}
					<img
						class="w-[150px] h-[150px] mx-auto"
						src="{{ category.get_image }}"
						alt=""
					/>
					{% else %}
					<p class="text-[12px] text-gray text-center mb-[60px]">
						Изображение отсутствует
					</p>
					{% endif %}
					<h3 class="text-center text-[14px] font-semibold mt-[20px] uppercase">
						{{ category.name }}
					</h3>
				</div>
			</li>
		</a>

		{% endfor %}
	</ul>
</div>
{% endblock %}
